/* autoprefixer grid: autoplace */

//https://ui.docs.amplify.aws/angular/getting-started/installation
//https://github.com/aws-amplify/amplify-js/issues/2750

//@import '@aws-amplify/ui-angular/theme.css';

/*

@import "~@aws-amplify/ui/src/Theme.css";
.amplify-block {
    @import "~@aws-amplify/ui/src/Angular";

    .amplify-container {
        padding-bottom: 2em;
    }
}

*/

/*
@use 'src/scss/vendors/normalize';

@use 'src/scss/base/base';

@use 'src/scss/layout/forms';

@use 'src/scss/components/hero';

@use 'src/scss/theme/material-theme';
*/
